# Ignore IntelliJ IDEA project files
.idea/

# Ignore build output directories
out/

# Ignore specific IntelliJ project file
DSA.iml

# Ignore .gitignore file itself (optional, if you don't want to track this file)
.gitignore/
